.toDolist{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding :15px;
  margin-top :70px;
  width:400px;
  height:auto;
  background:linear-gradient(190deg,rgb(0, 247, 255),rgb(67, 200, 131));

}  
h1{
  font: size 3rem;
}
.inputT{
  font:3rem;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid lightblue;
  color:rgb(0, 0, 0);

}
button{
  font-size: 1rem;
  font-weight: bold;
  padding: 7px 18px;
  border:none;
  border-radius: 4px;
  cursor:pointer;
  color :white;
  transition: background-color 0.5 ease;
}
button:hover {
  background:#f26a6a;}
.add-button{
  background-color: rgb(13, 149, 202);
}

.deleteB{
background-color: rgb(238, 180, 144);
}

.move-button{
  background-color: rgb(238, 211, 144);
}

ol{
  padding :0;
}
li{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  background-color: #6af2b9;
  margin: 10px;
  border:  3px solid lightblue;
  border-radius: 5px;
  display: flex;
  align-items:center;
  justify-items: center;
 
}
li{
  font-size: 17px;
}
.text{
  flex: 1;
}
li button{
  margin-left: 5px;
}